<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrms.employee.mapper.EmployeeMapper">

    <!-- 分页查询员工 -->
    <select id="selectEmployeePage" resultType="com.hrms.employee.vo.EmployeeVO">
        SELECT 
            e.id, e.employee_no, e.name, e.gender, e.birthday, e.id_card_no, e.mobile, e.email,
            e.marital_status, e.nationality, e.domicile_address, e.current_address, e.employee_status,
            e.industry_type, e.ext_json, e.remark, e.created_time, e.updated_time,
            j.org_id, j.dept_id, j.position_id, j.rank_id, j.employee_type, j.employment_type,
            o.org_name, d.dept_name, p.position_name, r.rank_name
        FROM hr_employee e
        LEFT JOIN hr_employee_job j ON e.id = j.employee_id AND j.is_main_job = 1 AND j.deleted = 0
        LEFT JOIN hr_org o ON j.org_id = o.id
        LEFT JOIN hr_department d ON j.dept_id = d.id
        LEFT JOIN hr_position p ON j.position_id = p.id
        LEFT JOIN hr_rank r ON j.rank_id = r.id
        WHERE e.deleted = 0
        <if test="query.employeeNo != null and query.employeeNo != ''">
            AND e.employee_no LIKE CONCAT('%', #{query.employeeNo}, '%')
        </if>
        <if test="query.name != null and query.name != ''">
            AND e.name LIKE CONCAT('%', #{query.name}, '%')
        </if>
        <if test="query.mobile != null and query.mobile != ''">
            AND e.mobile LIKE CONCAT('%', #{query.mobile}, '%')
        </if>
        <if test="query.employeeStatus != null">
            AND e.employee_status = #{query.employeeStatus}
        </if>
        <if test="query.deptId != null">
            AND j.dept_id = #{query.deptId}
        </if>
        <if test="query.orgId != null">
            AND j.org_id = #{query.orgId}
        </if>
        <if test="query.industryType != null and query.industryType != ''">
            AND e.industry_type = #{query.industryType}
        </if>
        ORDER BY e.created_time DESC
    </select>

</mapper>
